{% extends 'base.html' %}

{% block content %}
    <div id="main" style="width: 100%;height:100%;"></div>
    <script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));

var data = [20000];
var time = [];

function addData(shift) {
	if (data[data.length-1]>10000 && data[data.length-1]<40000){
    data.push((Math.random() - 0.5) * 1000 + data[data.length - 1]);
	}
	else{
		data.push(data[data.length-2]);
	}
	
    if (shift){ 
        data.shift();
		}
}

//添加初始数据
for (var i = 1; i < 120; i++) {
    addData();
}

for (var j = 120; j >= 0 ; j--) {
    time.push(j+'秒前')
}


option = {
    title: {
        text: '温室光照度实时监测'
    },
	legend: {
	     data:['光照度（lux）']
	},
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: time
    },
    yAxis: {
        boundaryGap: [0, '20%'],
        type: 'value'
    },
	dataZoom: [
	    {
	        type: 'slider',
	        show: true,
	        yAxisIndex: [0],
	        start: 0,
	        end: 100
	    },
	    {
	        type: 'inside',
	        yAxisIndex: [0],
	        start: 0,
	        end: 100
	    }
	],
    series: [
        {
            name:'光照度（lux）',
            type:'line',
            data: data
        }
    ]
};

setInterval(function () {
    addData(true);
    myChart.setOption({
		title: {
			text: '温室光照度实时监测'
		},
		legend: {
		     data:['光照度（lux）']
		},
        xAxis: {
            data: time
        },
    	yAxis: {
        	boundaryGap: [0, '20%'],
        	type: 'value'
    	},
		dataZoom: [
		    {
		        type: 'slider',
		        show: true,
		        yAxisIndex: [0],
		    },
		    {
		        type: 'inside',
		        yAxisIndex: [0],
		    }
		],
        series: [{
            name:'光照度（lux）',
			type:'line',
            //smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {
                normal: {}
            },
            data: data
        }]
    });
}, 1000);
    </script>
{% endblock %}